body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #15181b;
    margin: 0;
}

.game-container {
    background: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 400px;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: #005cc5;
    color: rgb(139, 139, 139);
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #000000;
}

.problem {
    font-size: 2rem;
    margin: 20px 0;
}

input {
    width: 80px;
    font-size: 1.5rem;
    padding: 5px;
    text-align: center;
}

#timer, #score {
    font-weight: bold;
    margin-bottom: 10px;
}